@charset "utf-8";
/* CSS Document */
ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color:#BD91C0;
}

li {
  float: left;
}

li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover:not(.active) {
  	background-color: #111;
}

.active {
  	background-color: #4CAF50;
}

.header {
	text-align:center; 
	font-size:50px;
	background-color:#9AD7A7;
	padding: 14px 16px;
	font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.container {
	text-align:center; 
	background-color:white;
	padding: 10px 10px;
	font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
	
h1 {
	text-align:center; 
	font:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size: 25px;
}

h2 {
	text-align:center; 
	font:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 20px;
}

h3 {
	text-align:center; 
	font:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 20px;
}

h6 {
	font:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 35px;
}

h4 {
	text-align: center;
	color:#3F0141;
	font:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 30px;
}

h5 {
	text-align: center;
	color: #3F0141;
	font:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 25px;
}

.img {
	float: center
	height: 90px;
  	width: 100%;
	align: middle;
	border-radius: 12px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.pix {
	height: 90px;
  	width: 40%;
	border-radius: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #9AD7A7;
  color: blue;
  text-align: center;
}
	